* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e45852;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  border-radius: 10px;
}

.picture {
  position: relative;
  height: 430px;
  transform: translateX(50%);
  background-color: #134d60;
  overflow: hidden;
  z-index: 1;
  transition: transform 1s ease-out;
}
.picture .thx {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  z-index: 2;
  color: #fff;
}
.picture .btn-thx {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #227292;
  border: none;
  border-radius: 20px;
  z-index: 10;
  cursor: pointer;
}
.picture .btn-thx:hover {
  background-color: #134d60;
}

.info {
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: transform 1s ease-out;
}
.info .btn {
  border: none;
  background: none;
  cursor: pointer;
}
.info .btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 12px;
  font-weight: bold;
}
.info .discount {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  aspect-ratio: 1/1;
  background-color: #F3EACA;
  border-radius: 50%;
  transform: rotate(-15deg);
}
.info .discount .discount-text {
  color: #C53A2E;
  font-size: 2em;
  font-weight: bold;
}
.info .heading {
  margin: 60px 30px 10px 30px;
  text-align: center;
  font-size: 36px;
  line-height: 32px;
  color: #134d60;
  font-weight: bold;
}
.info .heading-text {
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
  color: #888888;
}
.info .mail-input {
  padding: 10px;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  outline: none;
}
.info .mail-input:focus {
  border: 1px solid #227292;
}
.info .btn-order {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #227292;
  border: none;
  border-radius: 20px;
}
.info .btn-order:hover {
  background-color: #134d60;
}
.info .btn-no-thanks {
  margin-top: 40px;
  color: #888888;
}
.info .btn-no-thanks:hover {
  color: #227292;
}

.icon {
  position: absolute;
  scale: 0;
  rotate: 180deg;
  transition: scale 0.6s, rotate 0.6s;
}

.icon-odd {
  rotate: -180deg;
}

.icon-1 {
  top: -80px;
  left: 0;
}

.icon-2 {
  right: -100px;
}

.icon-3 {
  bottom: 0;
  left: 0;
}

.icon-4 {
  bottom: -50px;
  right: 0;
}

.icon-5 {
  bottom: 100px;
}

.icon-6 {
  bottom: 100px;
  right: 0;
}

.icon-7 {
  top: 50px;
  left: 150px;
}

.icon-8 {
  top: 10px;
  right: 40px;
}

.icon-9 {
  bottom: 220px;
}

.icon-10 {
  bottom: 30px;
  right: 70px;
}

.icon-11 {
  top: -10px;
}

.icon-12 {
  bottom: -80px;
  left: -80px;
}

.icon-13 {
  bottom: 50px;
  right: 0px;
}

.icon-14 {
  top: 20px;
  left: 0;
}

.icon-15 {
  top: 150px;
  left: -70px;
}

.icon-16 {
  top: -30px;
  right: 10px;
}

.icon-17 {
  top: 30px;
  left: -30px;
}

.icon-18 {
  bottom: 0px;
  left: 110px;
}

.icon-19 {
  bottom: 0px;
  right: -20px;
}

.icon-20 {
  top: 30px;
  left: 160px;
}

.icon-21 {
  bottom: 220px;
  right: -30px;
}

.icon-22 {
  top: 140px;
  right: 50px;
}

.icon-23 {
  top: 140px;
  left: 60px;
}

.icon-24 {
  top: 210px;
  left: 70px;
}

.icon-25 {
  bottom: 50px;
  right: -20px;
}

.icon-26 {
  bottom: 40px;
  left: -10px;
}

.icon-27 {
  top: 130px;
  right: 80px;
}

.box-transform {
  transform: translateX(0);
}

.icon-transform {
  rotate: 0deg;
  scale: 0.5;
}

.invalid-mail {
  color: #C53A2E;
  font-weight: bold;
}

.hide {
  display: none;
}/*# sourceMappingURL=main.css.map */